*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  height: 100%!important;
  overflow-x: hidden;
}
body{
  height: 100%!important;
}
.clear{
  clear:both;
}
.margin{
  margin:10%;
}
input:focus, textarea:focus, button:active {
    outline: none;
}
.logo img{
  margin:0 auto;
  display:block;
}
.navbar-default {
  background: #fff!important;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color:#000!important;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color:#000!important;
}
.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
}
.middle-block{
  margin:0 auto;
  padding:40px 30px 0;
  background:#f8f8f8;
}
.lower-block{
  margin:5% 7%;
}
.background h1{
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 170px;
  margin-top:0px;
}
.top-block .background{
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-image:url('../img/desk.jpg');
}
.top-block .filter{
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
}
.description{
  margin: 0 15%;
}
.description p, .columns h5{
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  color: #111;
}
.columns{
  width:90%;
  margin: 0 auto;
}
.columns .column{
  padding:3%;
}
.project {
  width: 100%;
  height: 200px;
  border-top: 1px solid #47a3da;
}

#tagline{
  padding-top: 40px;
}
h1 .animated-caret {
  display: inline-block;
  width: 5px;
  height: 80px;
  margin-left: -2px;
  margin-right: -3px;
  margin-bottom: -12px;
  background: #47a3da;
}
#input-box{
  margin:0 auto;
  display:block;
  text-align: center;
}
.signup-email, .success-email{
  border: 8px solid #2674A2;
  padding: 10px;
  width:25%;
  margin:0 auto;
}
.success-email{
  color:white;
  background: #47a3da;
  text-align: center;
  border: 8px solid #47a3da;
}
#input-message{
  color:#fff;
}
#submit-btn, #up-btn{
  background: #2674A2;
  padding: 17px;
  margin-top: 1px;
  margin-left: -4px;
  border-radius: 0;
  color: #fff;
}
#up-btn{
  width:55px;
  padding: 17px 23px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
#up{
  text-align: center;
}
.lower-block ul{
  padding:0;
  list-style: none;
}
.lower-block ul li{
  margin:5% 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.item-icons-container{
  width: 700px;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  height: 330px;
  z-index: 100;
  background-position: bottom;
}
.item-animation {
  position: relative;
  overflow: visible;
  height: auto;
}
.item-animation-projects-container{
  overflow: hidden;
  height: 1600px;
  margin-top: -440px;
  padding-top: 440px;
}
.item-icon{
  position:absolute;
}
.item-icon-email{
  width:56px;
  height:56px;
  background-image: url('../img/email.png');
}
.item-icon-convos{
  width:56px;
  height:56px;
  background-image: url('../img/conversation.png');
}
.item-icon-calendar{
  width:56px;
  height:56px;
  background-image: url('../img/calendar.png');
}

#item-icon-email-1 {
position:absolute;
left:197px;
top:39px;
}

#item-icon-email-2 {
position:absolute;
left:448px;
top:52px;
}

#item-icon-email-3 {
position:absolute;
left:540px;
top:126px;
}

#item-icon-email-4 {
position:absolute;
left:429px;
top:136px;
}

#item-icon-email-5 {
position:absolute;
left:100px;
top:211px;
}

#item-icon-email-6 {
position:absolute;
left:304px;
top:246px;
}

#item-icon-email-7 {
position:absolute;
left: 16px;
top: 93px;
}

#item-icon-convos-1 {
position:absolute;
left:170px;
top:137px;
}

#item-icon-convos-2 {
position:absolute;
left:261px;
top:89px;
}

#item-icon-convos-3 {
position:absolute;
left:631px;
top:90px;
}

#item-icon-convos-4 {
position:absolute;
left:399px;
top:215px;
}

#item-icon-convos-5 {
position:absolute;
left:250px;
top:192px;
}

#item-icon-convos-6 {
position:absolute;
left:590px;
top:190px;
}

#item-icon-convos-7 {
position:absolute;
left: 10px;
top: 179px;
}

#item-icon-calendar-1 {
position:absolute;
left:359px;
top:55px;
}

#item-icon-calendar-2 {
position:absolute;
left:527px;
top:43px;
}

#item-icon-calendar-3 {
position:absolute;
left:322px;
top:155px;
}

#item-icon-calendar-4 {
position:absolute;
left:99px;
top:116px;
}

#item-icon-calendar-5 {
position:absolute;
left:175px;
top:240px;
}

#item-icon-calendar-6 {
position:absolute;
left:484px;
top:223px;
}

@media only screen and (min-width : 320px) and (max-width:480px){
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  h5{
    font-size: 20px!important;
  }
  img{
    width:20%;
  }
  .background h1{
    font-size: 20px;
  }
  .signup-email, .success-email{
    width:60%;
  }
  .description{
    margin:0px;
  }
  .description p{
    font-size: 100%;
  }
  .lower-block h2{
    font-size: 90%;
  }
  .lower-block p{
    font-size: 70%;
  }

}

@media only screen and (min-width:481px) and (max-width : 1024px){
  /* For portrait layouts only */
  h5{
    font-size: 120%!important;
  }
  .background h1{
    font-size: 40px;
  }
  .signup-email, .success-email{
    width:60%;
  }
  .description p{
    font-size: 140%;
  }
  .lower-block h2{
    font-size: 90%;
  }
  .lower-block p{
    font-size: 70%;
  }
}